In [1]:
symbols = '$¢£¥€¤'

In [2]:
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

In [3]:
codes

[36, 162, 163, 165, 8364, 164]

In [4]:
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [5]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

In [6]:
beyond_ascii = [ord(symbol) for symbol in symbols if ord(symbol) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [7]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [8]:
tshirts = [(color, size) for size in sizes
                         for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

In [9]:
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [10]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [11]:
for tshirt in ('%s %s' %(c, s) for c in colors
                               for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [13]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokoy', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s'%passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [14]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [17]:
for item in traveler_ids:
    print(item)

('USA', '31195855')
('BRA', 'CE342567')
('ESP', 'XDA205856')

In [18]:
lax_coordinates = (33.9425, -118.408056)
laxtitude, longitude = lax_coordinates
print(laxtitude, longitude)

33.9425 -118.408056

In [20]:
import os 
_, filename = os.path.split('home/caoke/.ssh/idrsa/pub')
filename

'pub'

In [21]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [22]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [23]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [24]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [25]:
*head, b ,c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [30]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 123.691667)), 
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)), 
    ('Mexico City', 'MX', 20.142, (19.43333, -99.133333)), 
    ('New York-Newark', 'US', 20.140, (40.82611, -74.020368)), 
    ('Sao Paulo', 'BR', 19.649, (-23.5467, -46.635833))
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8261 |  -74.0204
Sao Paulo       |  -23.5467 |  -46.6358

## 创建一个具名元祖

In [32]:
from collections import namedtuple

City = namedtuple('City', 'name country popolation coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', popolation=36.933, coordinates=(35.689722, 139.691667))

In [34]:
tokyo.name, tokyo.country, tokyo.coordinates

('Tokyo', 'JP', (35.689722, 139.691667))

In [38]:
try:
    tokyo.name = 'change'
except Exception as ex:
    print(ex)

can't set attribute

In [39]:
try:
    print(tokyo[0])
    tokyo[0] = 'change'
except Exception as ex:
    print(ex)

Tokyo
'City' object does not support item assignment

In [41]:
print(City._fields)
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
print(delhi._asdict())

('name', 'country', 'popolation', 'coordinates')
OrderedDict([('name', 'Delhi NCR'), ('country', 'IN'), ('popolation', 21.935), ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [45]:
for key, value in delhi._asdict().items():
    print('{:12}'.format(key)+':', value)

name        : Delhi NCR
country     : IN
popolation  : 21.935
coordinates : LatLong(lat=28.613889, long=77.208889)